.Page {
  text-align: center;
}

.Login-Container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 30vw;
  padding: 3vw;
  background-color: white;
  box-shadow: 10px 10px 10px lightgray;
}

.Login-Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 10px lightgray;
}

.Title {
  padding-bottom: 3vh;
  text-align: left;
  font-size: 1.3vw;
  font-weight: bold;
}

.Forgot-Password {
  color: #9a9a9a;
  font-size: 12px;
  text-align: right;
}