.box-shadow {
  box-shadow: 10px 10px 10px lightgray;
}

.Container {
  padding: 1.2vw;
}

.NextPatient-Text {
  padding: 8px 16px;
  font-size: 1.1vw !important;
}

.NextPatient-Name {
  font-size: 1.1vw !important;
  text-align: center;
}

.NextPatient-Button {
  background-color: #4ec6c7 !important;
  font-size: 1.2vw !important;
  margin-bottom: 4vh !important;
  padding: 8px;
  border-radius: 10px !important;
  text-transform: none !important;
  min-width: 250px !important;
  max-width: 400px;
}

.PatientHolder-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4vh;
}

.PatientHolder-Text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 15px;
  font-size: 1vw !important;
}

.Header-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7vh;
  background-color: #4EC6C7;
}

.Header-Text {
  font-size: 1.2vw !important;
  font-weight: bold !important;
  text-align: left;
  padding: 3vw;
  color: white;
}

.progress {
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-left: 16px;
  font-size: 1.2vw !important;
  background-color: #e9ecef;
  color: #4ec6c7 !important;
}

.bg-progress-bg {
  background-color: #4ec6c7 !important;
}

.Image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  align-self: center;
  margin-top: 3vh;
}

.PatientInfo-Text {
  text-align: center !important;
  color: white !important;
  font-size: 1.2vw !important;
}