.Toolbar {
  background-color: white;
  color: #4ec6c7;
  min-height: 100px;
}

.Menu-Item {
  font-size: 20px;
}

.Header {
  font-size: 2vw;
  font-weight: bold !important;
  text-align: left;
  padding: 3vw;
  color: white;
}

.Button {
  background-color: #4ec6c7 !important;
  font-size: 1.5vw;
  margin: 40px !important;
  padding: 8px;
  border-radius: 10px !important;
  text-transform: none !important;
  min-width: 250px !important;
  max-width: 400px;
}

.Next-Patient {
  box-shadow: 10px 10px 10px lightgray;
}

.box-shadow {
  box-shadow: 10px 10px 10px lightgray;
}

.Text {
  padding: 8px 16px;
  font-size: 1.5vw;
}

.Patient-Name {
  font-size: 1.8vw;
  text-align: center;
}

.progress {
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-left: 16px;
  font-size: 1.2vw !important;
  background-color: #e9ecef;
  color: #4ec6c7 !important;
}

.bg-progress-bg {
  background-color: #4ec6c7 !important;
}
